.keywords {
  margin: 0 auto 4rem auto;
  max-width: 42rem;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
  padding: 2rem;
}

.name {
  font-size: 4rem;
  line-height: 1;
  margin: 0 0 4rem 0;
  text-align: center;
}